[submodule "aquila-src"]
	path = libs/aquila
	url = git://github.com/zsiciarz/aquila.git
[submodule "rtaudio"]
	path = libs/rtaudio
	url = https://github.com/thestk/rtaudio.git
[submodule "wxWidgets"]
	path = libs/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
